

/* geral */

body {
    background-color: #65B6E6;
    color: #3637E5;
}

a {
    text-decoration: none;
    color: black
}

li {
    list-style: none;
    margin: auto;
}

h1 {
    text-align: center;
    margin-top: 5%;
    cursor: default;
}


/* index */

main {
    text-align: center;
    margin-top: 15%;
}

div {
    border: 1px solid #3637E5;
    border-radius: 10px;
    display: inline-block;
    background-color: #9DCEEB;
    text-align: center;
    width: 150px;
    height: 150px;
}

div > .p1 {
    display: none;
}

div:hover > .p1 {
    display: block;
    color: yellow;
}

div:hover {
    display: inline-table;
    background-color: #3637E5;
    border-color: yellow;
}


/* wrong */

.wrongmain {
    text-align: center;
}

.wrongdiv {
    text-align: center;
}


/* secret...

already maked up */


/* video */

.endbody {
    background-color: #1d1d7c;
}

.enddiv {
    border-color: white;
    background-color: #3637E5;
    color: white;
}

.endmain {
    margin-top: 5%;
}

header {
    margin-top: 5%;
    text-align: center;
    justify-content: baseline;
}